#nav {
    background-color: #000 !important;
}
.navbar-light .navbar-nav .nav-link {
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: #fff !important;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
    background: linear-gradient(54deg, rgb(14, 156, 50), midnightblue);
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.55) !important;
}