nav {
    height: 50px;
    background: linear-gradient(54deg, rgb(156, 14, 156), midnightblue);
}

.liste {
    list-style-type: none;
    background: linear-gradient(54deg, rgb(156, 14, 156), midnightblue);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}
.items {
    margin-right: 10px;
    color: #f1f1f1;
    cursor: pointer;
}
.btnToggle {
    display: none;
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-radius: 5px;
    line-height: 25px;
}

@media screen and (max-width: 500px) {
    
    .liste {
        flex-direction: column;
        height: 200px;
    }
    .items:nth-child(1) {
        border-top: 1px solid #fff;
        margin-top: 50px;
    }
    .items {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 50px;
    }
    .btnToggle {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

}